In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
%pip install --upgrade ngboost
from ngboost import NGBRegressor
#같은 경로에 모든 데이터파일이 있다고 가정

Requirement already satisfied: ngboost in /usr/local/lib/python3.7/dist-packages (0.3.12)
Requirement already satisfied: tqdm>=4.3 in /usr/local/lib/python3.7/dist-packages (from ngboost) (4.64.0)
Requirement already satisfied: scikit-learn>=0.21 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.0.2)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.7.3)
Requirement already satisfied: lifelines>=0.25 in /usr/local/lib/python3.7/dist-packages (from ngboost) (0.27.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from ngboost) (1.21.6)
Requirement already satisfied: formulaic>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (0.3.4)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (1.3.5)
Requirement already satisfied: matplotlib>=3.0 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (3.2.2)
Requirement already satisfied: autograd>=1.3 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (1.4)
Requirement already satisfied: autograd-gamma>=0.3 in /usr/local/lib/python3.7/dist-packages (from lifelines>=0.25->ngboost) (0.5.0)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd>=1.3->lifelines>=0.25->ngboost) (0.16.0)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.7/dist-packages (from formulaic>=0.2.2->lifelines>=0.25->ngboost) (1.14.0)
Requirement already satisfied: interface-meta<2.0.0,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from formulaic>=0.2.2->lifelines>=0.25->ngboost) (1.3.0)
Requirement already satisfied: astor>=0.8 in /usr/local/lib/python3.7/dist-packages (from formulaic>=0.2.2->lifelines>=0.25->ngboost) (0.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (3.0.8)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->lifelines>=0.25->ngboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0->lifelines>=0.25->ngboost) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->lifelines>=0.25->ngboost) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0->lifelines>=0.25->ngboost) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->ngboost) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21->ngboost) (1.1.0)

In [2]:
df = pd.read_csv('boston.csv')

In [3]:
df.shape

(506, 14)

In [4]:
#데이터 전처리
X = df.drop(columns=['MEDV'], axis=1)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [5]:
#결과값
y = df['MEDV']
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y,train_size=0.8,random_state=7)

In [11]:
ngb = NGBRegressor().fit(X_train, y_train)
y_preds = ngb.predict(X_test)
y_dists = ngb.pred_dist(X_test)

# test Mean Squared Error
test_MSE = np.sqrt(mean_squared_error(y_preds, y_test))
test_MAE = mean_absolute_error(y_preds, y_test)
print('Test RMSE', test_MSE)
print('Test MAE', test_MAE)

[iter 0] loss=3.6422 val_loss=0.0000 scale=1.0000 norm=6.8167
[iter 100] loss=2.7058 val_loss=0.0000 scale=2.0000 norm=4.9246
[iter 200] loss=2.1536 val_loss=0.0000 scale=2.0000 norm=3.3919
[iter 300] loss=1.8933 val_loss=0.0000 scale=1.0000 norm=1.4823
[iter 400] loss=1.7673 val_loss=0.0000 scale=1.0000 norm=1.3814
Test MSE 3.369682244201939
Test MAE 2.144455226523893

In [12]:
from sklearn.ensemble import RandomForestRegressor
model_rf = RandomForestRegressor()
model_rf.fit(X_train, y_train)
pred_rf = model_rf.predict(X_test)
mae_rf = np.sqrt(mean_squared_error(y_test, pred_rf))
test_MAE = mean_absolute_error(y_test, pred_rf)
print('Test RMSE', mae_rf)
print('Test MAE', test_MAE)

Test RMSE 3.899682195447494
Test MAE 2.3736176470588233

In [13]:
#콘크리트 파일
df = pd.read_csv('Concrete_Data_Yeh.csv')
df.columns = ['cement', 'slag', 'ash', 'water', 'splast', 'coarse', 'fine', 'age', 'strength']
# Extract the X and y data from the DataFrame 
X = df.drop('strength', axis=1)
y = df['strength']

# Create the train and test data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

In [14]:
X.head()
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: strength, dtype: float64

In [15]:
ngb = NGBRegressor().fit(X_train, y_train)
y_preds = ngb.predict(X_test)
y_dists = ngb.pred_dist(X_test)

# test Mean Squared Error
test_MSE = np.sqrt(mean_squared_error(y_preds, y_test))
test_MAE = mean_absolute_error(y_preds, y_test)
print('Test RMSE', test_MSE)
print('Test MAE', test_MAE)

[iter 0] loss=4.2399 val_loss=0.0000 scale=1.0000 norm=13.5388
[iter 100] loss=3.7841 val_loss=0.0000 scale=1.0000 norm=8.2235
[iter 200] loss=3.4098 val_loss=0.0000 scale=2.0000 norm=11.2283
[iter 300] loss=3.0777 val_loss=0.0000 scale=1.0000 norm=4.2895
[iter 400] loss=2.9107 val_loss=0.0000 scale=1.0000 norm=3.7987
Test RMSE 5.120182731459574
Test MAE 4.047496047857407

In [16]:
model_rf = RandomForestRegressor()
model_rf.fit(X_train, y_train)
pred_rf = model_rf.predict(X_test)
mae_rf = np.sqrt(mean_squared_error(y_test, pred_rf))
test_MAE = mean_absolute_error(y_test, pred_rf)
print('Test RMSE', mae_rf)
print('Test MAE', test_MAE)

Test RMSE 4.518487642959227
Test MAE 3.314668155725072

In [17]:
#보험
data = pd.read_csv('insurance.csv')

In [18]:
from sklearn.preprocessing import LabelEncoder
#sex
le = LabelEncoder()
le.fit(data.sex.drop_duplicates()) 
data.sex = le.transform(data.sex)
# smoker or not
le.fit(data.smoker.drop_duplicates()) 
data.smoker = le.transform(data.smoker)
#region
le.fit(data.region.drop_duplicates()) 
data.region = le.transform(data.region)

In [19]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [20]:
#데이터 전처리
X = data.drop(['charges'], axis = 1)
y = data.charges

X_train,X_test,y_train,y_test = train_test_split(X,y, random_state = 7)

In [21]:
ngb = NGBRegressor().fit(X_train, y_train)
y_preds = ngb.predict(X_test)
y_dists = ngb.pred_dist(X_test)

# test Mean Squared Error
test_MSE = np.sqrt(mean_squared_error(y_preds, y_test))
test_MAE = mean_absolute_error(y_preds, y_test)
print('Test RMSE', test_MSE)
print('Test MAE', test_MAE)

[iter 0] loss=10.8181 val_loss=0.0000 scale=1.0000 norm=8983.3738
[iter 100] loss=9.9461 val_loss=0.0000 scale=2.0000 norm=5958.5080
[iter 200] loss=9.6607 val_loss=0.0000 scale=2.0000 norm=4583.9688
[iter 300] loss=9.5171 val_loss=0.0000 scale=1.0000 norm=2171.7855
[iter 400] loss=9.4089 val_loss=0.0000 scale=1.0000 norm=2108.8874
Test RMSE 4564.296093332606
Test MAE 2539.0662821678084

In [22]:
model_rf = RandomForestRegressor()
model_rf.fit(X_train, y_train)
pred_rf = model_rf.predict(X_test)
mae_rf = np.sqrt(mean_squared_error(y_test, pred_rf))
test_MAE = mean_absolute_error(y_test, pred_rf)
print('Test RMSE', mae_rf)
print('Test MAE', test_MAE)

Test RMSE 4975.640213751143
Test MAE 2818.9785688112834